html{
    background-color: gray;
    align-items: center;
}
.top_title{
    height: 50px;
    text-align: center;
    font-family: "Brush Script MT";
    font-size: 30px;
    position: relative;
}
.dog_names{
    background-color: #800000;
    background-repeat: no-repeat;
    background-size: cover;
}
.pop_dog{
    background-color: #FFD700;
    border-radius: 50%;
    border: black, 1px;
    position: relative, center;
    padding: 10px;
    margin: 20px

}
.dog_info{
    text-align: center;
}
#submit-form{
    text-align: center;
}
.new_dog{
    text-align: center;
    display: inline-block;
    position: relative;
    border: 1px;
    border-color: gray;
    background-color: white;
    width: 400px;
    border-radius: 20%;
    margin: 0px;
}
#dDescription{
    height: 150px;
}